<h2>Template</h2>
<hr/>
<form autocomplete="off" class=" form-group my-2 mx-2">
    <label for="proyecto">Proyecto</label>
    <input class="form-control" type="text" id="proyecto" placeholder="Nombre del proyecto">
   
    <label  for="horas">Horas</label>
    <input class="form-control"  type="number" id="horas" placeholder="Selecciona las horas">
  
    <label for="tecnologias">Tecnologias</label>
    <input class="form-control"  type="text" id="tecnologias" placeholder="Nombre de la tecnologia">
   
    <button class="btn btn-warning mt-2 w-100" type="submit">Agregar Proyecto</button>
</form>
